/* Custom image styling to force larger height on mobile while keeping aspect ratio */
.custom-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensures the image covers the container area */
    object-position: center;
}


/* Overlay box: light background, slightly rounded, subtle drop shadow */
.overlay-box {
    background-color: #f8f9fa;
    /* light, opaque color */
    border-radius: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);

    p {
        margin-bottom: 0;
    }
}

/* Overlay content for Section 2 */
.overlay-content {
    transform: translate(0, -50%);
}

/* Custom opacity for the second image */
.custom-opacity {
    opacity: 0.3;
}

#img1-box {
    bottom: 0%;
    justify-items: start;
    padding: 1rem 1.5rem;

    .text-normal {
        font-size: 1.1rem;
    }

    .text-large {
        font-size: 1.7rem;
    }
}

/* Styling for the white box */
.custom-box {
    background-color: #f8f9fa;
    border-radius: 0.2rem;
    /* Slightly rounded edges */
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    /* Soft shadow */
    width: 100%;
    /* Ensures proper spacing */
    position: relative;
    /* Allows absolute positioning inside */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Large centered text */
.main-text {
    font-size: 1.7rem;
    font-weight: normal;
    text-wrap: pretty;
    margin: .5rem
}

/* Small text positioning */
.small-text {
    font-size: 1.1rem;
    font-weight: normal;
    text-wrap: pretty;
}


/* For mobile devices (<768px), set a fixed height so that images become taller */
@media (max-width: 767px) {
    .custom-img {
        height: 35rem;
    }

    #img1-box {
        justify-items: center;
        padding: 1rem 1rem;
    }

    
}

@media (min-width: 768px) {
    #img1-box {
        margin: 0 6rem !important;
    }

    #img2-box3 {
        left: 20%;
        margin-top: 1.5rem;
    }

    .img-title {
        margin: 0 0 7% 0;
    }
}

@media (min-width: 1200px) {
    #img1-box {
        margin: 0 15rem !important;
    }
}